<!doctype html>
<html lang="en" ng-app="RankingsTable">
  <head>
    <meta charset="utf-8">
    <title>Score Predictor</title>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/combination.js"></script>
    <script src="js/match.js"></script>
    <script src="js/rankingsController.js"></script>
  </head>

  <body ng-controller="rankingsController as rankCtrl" ng-init="rankCtrl.createMatches()">

  <table>
    <tr>
      <th>Position</th>
      <th>Team</th>
      <th>Points</th>
    </tr>
    <tr ng-repeat="team in rankCtrl.rankingsData | orderBy:'pos'">
      <td>{{team.pos}}</td>
      <td>{{team.team.name}}</td>
      <td>{{team.pts}}</td>
    </tr>
  </table>

  <div id="matches"ng-repeat="match in rankCtrl.allMatches | orderBy:rankCtrl.random">
    {{match.teams[0].name}}  vs  {{match.teams[1].name}} <br>
    <input type="text" id="homeScore" ng-model="rankCtrl.homeScore[$index]"> <input type="text" id="awayScore" ng-model="rankCtrl.awayScore[$index]">
  </div>
  <button type="button" ng-click="rankCtrl.predictMatches()">Predict yoself!</button>
  </body>

</html>
